{% extends 'appointments/persons/events_list.html' %}
{% load static %}

{% block menu %}
{% load my_tags %}


<form action="GET">
    <div class="form_wrapper">
        <div class="input_wrapper">
        
            <div class="buttons_wrapper">

                <a href="{% url 'appointments:person-list' %}" class="navigation_btn"><div class="person_btn">
                    Персоны
                </div></a>
           
                <a href= "{% url 'appointments:show-all-events' %}" class="navigation_btn">
                    <div class="events_btn">
                    Все назначения
                    </div></a> 
           
        </div>
        
        <br><br>
            <input id="input-tags" autocomplete="off" placeholder="имя" value="{{ name_search }}" name="name_search" >

            <input id="input-tags-position" value="{{ position_search }}" autocomplete="off" placeholder="должность содержит" name="position_search" >

        <select id="select-beast-empty" value="{{ region_search }}"  data-placeholder="регион"  autocomplete="off" name="region_search">
            
            <option value=""> {{ region_search|default:"РФ" }} </option>

            {% for reg in regions %}
            <option value="{{ reg }}">{{ reg}}</option>
            {% endfor %}
        </select>

    </div>

<div class="select_wrapper">

    <div class="form-check">
            <input class="form-check-input" type="radio" name="action_option" id="flexRadioDefault1" 
            value="отставка" {% if action == "отставка" %} checked {% endif %}>
            <label class="form-check-label" for="flexRadioDefault1">
            Отставка
            </label>
        </div>

    
        <div class="form-check"> 
            <input class="form-check-input" type="radio" name="action_option" id="flexRadioDefault2"
            value="назначение" {% if action == "назначение" %} checked  {% endif %}>
            <label class="form-check-label" for="flexRadioDefault2">
            Назначение
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="action_option" id="flexRadioDefault3" 
            {% if action != "назначение" and action != "отставка" %} checked  {% endif %} value="">
            <label class="form-check-label" for="flexRadioDefault3">
            Всё
            </label>
        </div>

    </div>
    
    <div class="search_button_1">
      <button type="submit" class="btn btn-primary">Искать</button>
    </div>

</div>
</form>

<script>
    $(function () {
      $("input.date_from").datepicker({
        format:'yyyy-mm-dd',
      });
    });
    $(function () {
      $("input.date_to").datepicker({
        format:'yyyy-mm-dd',
      });
    });

</script>

{% endblock %}
